.Starting_Container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.Starting_Text {
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.Starting_List {
	display: flex;
	flex-direction: column;
	width: 60vw;
	height: 60vh;
	background-color: #28282b;
	margin-top: 10px;
	border-radius: 10px;
	overflow: scroll;
	margin-bottom: 10px;
}

.Starting_List_Main {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 8%;
	min-height: 8%;
	align-items: center;
	font-size: 25px;
	justify-content: space-around;
	color: white;
}

.Starting_List_Back_White {
	background-color: #d9d9d985;
}

.Starting_List_Name {
	margin-right: 20%;
}

.Starting_Buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 60vw;
}
